<br>

<div class="jumbotron">   
    <section class="row">
        <div class="col-md-7">
           
            <div style="text-align: center">
                <h6>Movie Name : {{movie.movieName}}</h6>
                <h6>Movie Cast : {{movie.movieCast}}</h6>
                <h6>Movie Genre : {{movie.movieGenre}}</h6>
                <h6>Movie Budget : {{movie.movieBudget}}</h6>
                <h6>Movie Release : {{movie.movieReleaseDate}}</h6>
            </div>

                <h3>Update Movie</h3>
                <div>
                    <label for="name">Movie Name:</label>
                    <textarea #moviename  id="name" ></textarea>
    
                    <label for="cast">Movie Cast:</label>
                    <textarea #moviecast  id="cast"></textarea>

                    <label for="genre">Movie Genre:</label>
                    <textarea #moviegenre  id="genre"></textarea>

                    <label for="budget">Movie Budget:</label>
                    <textarea #moviebudget  id="budget"></textarea>

                    <label for="date">Movie Release Date:</label>
                    <textarea #moviedate  id="date"></textarea>
                    <button (click)="updatemovie(moviename.value,moviecast.value,moviegenre.value,moviebudget.value,moviedate.value)" style="background: #263238;color:wheat" class="btn my-2 my-sm-0" type="submit">Update</button>
                </div>
        </div>
    </section>
</div>
   
